* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: "outfit", sans-serif;
  background-color: #0d192c;
  font-weight: 300;
  color: #8bacd9;
}
.white {
  color: white;
}

.card {
  position: relative;
  width: 327px;
  height: 543px;
  border-radius: 15px;
  background-color: #15263f;
  padding: 25px;
  margin-top: 62px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card::after {
  content: "";
  position: absolute;
  bottom: 73px;
  left: 25px;
  width: 278px;
  height: 1px;
  background-color: #2e405a;
}
.card-description {
  font-size: 18px;
  font-weight: 300px;
  margin-bottom: 0;
}
.flex2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  bottom: 24px;
}
.icon {
  margin-right: 6.48px;
  width: auto;
}

.cube-image {
  border-radius: 8px;
}

.color-image {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00fff8;
  width: 278px;
  height: 278px;
  border-radius: 8px;
  opacity: 0;
}
@media (hover: hover) {
  .color-image:hover {
    opacity: 0.5;
  }
}
.eye {
  position: absolute;
  width: 48px;
}

.photo {
  margin-right: 16px;
  width: 33px;
  height: 33px;
  border-radius: 15px;
  border: white solid 1px;
}
.card-name {
  color: #ffffff;
}

.card-name:hover {
  color: #00fff8;
}

.price {
  color: #00fff8;
  font-weight: 600;
}
@media (hover: hover) {
  .white:hover {
    color: #00fff8;
  }
}
